/* styles/mealForm.css */

/* Meal form container */
.meal-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure the MealForm appears above other elements */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
    backdrop-filter: blur(5px); /* Apply blur effect to content behind the MealForm */
  }
  
  /* Heading */
  .meal-form h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Form fields */
  .meal-form label {
    font-weight: bold;
    color: #333;
  }
  
  .meal-form input[type="text"],
  .meal-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Ingredients list */
  .meal-form ul {
    list-style-type: none;
    padding: 0;
  }
  
  .meal-form li {
    display: flex;
    align-items: center;
  }
  
  .meal-form li button {
    margin-left: 10px;
    padding: 5px 10px;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Submit and close buttons */
  .meal-form button[type="submit"],
  .meal-form button[type="button"] {
    padding: 10px 20px;
    margin-right: 10px;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .meal-form button[type="submit"]:hover,
  .meal-form button[type="button"]:hover {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
  