.form-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="email"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button[type="submit"] {
  width: 100%;
  max-width: 200px; 
  padding: 10px;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container p {
  margin-top: 20px;
}

.form-container p a {
  color: #f99185;
  text-decoration: none;
}

.form-container p a:hover {
  text-decoration: underline;
}
